@* @{
    ViewData["Title"] = "Login";
} *@
<div class="row">

</div>
<div class="row mt-5">
    <div class="col-md-2 mt-5">
    </div>
    <div class="col-md-5">
        <div class="card shadow-sm p-4">
            <div class="card-header text-center" style="padding:0; background:white;">
                <img src="/media/icons/static/logo.svg" width="100%" alt="App Logo" class="img-fluid mb-3" style="margin-bottom:0;"  />
                
            </div>
            <div class="card-body">
                <br />
                <br />
                <form asp-action="Login" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required />
                    </div>
                    <br />

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>

            </div>
        </div>

    </div>

    <div class="col-md-3">
    </div>
</div>



@* @if (ViewData.ModelState[""].Errors.Count > 0)
{
    <div class="alert alert-danger">
        @ViewData.ModelState[""].Errors[0].ErrorMessage
    </div>
} *@