@model IEnumerable<Scribe.Models.ADUsers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" onclick="loadCreatePartial('ADUsers')">
        Create New
    </button>
    <a asp-action="RefreshDC" class="btn btn-outline-success">Refresh Employees</a>
    <a asp-action="RefreshUsersDC" class="btn btn-outline-primary">Refresh Users</a>
</p>

<div class="table-responsive">
    <table class="table" id="allUsersTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="AllocateUser" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Allocation</a> |
                        <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('ADUsers',@item.Id)">
                            Edit
                        </button> |
                        <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('ADUsers',@item.Id)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

}