@model Scribe.Models.Maintenance

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit</h1>

<h4>ServiceHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SerialNumberId" class="control-label"></label>
                <select asp-for="SerialNumberId" class="form-control" asp-items="ViewBag.SerialNumberId"></select>
                <span asp-validation-for="SerialNumberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDescription" class="control-label"></label>
                <input asp-for="ServiceDescription" class="form-control" />
                <span asp-validation-for="ServiceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label"></label>
                <input asp-for="ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextServiceDate" class="control-label"></label>
                <input asp-for="NextServiceDate" class="form-control" />
                <span asp-validation-for="NextServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionId" class="control-label"></label>
                <select asp-for="ConditionId" class="form-control" asp-items="ViewBag.ConditionId"></select>
                <span asp-validation-for="ConditionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemUserId" class="control-label"></label>
                <select asp-for="SystemUserId" class="form-control" asp-items="ViewBag.SystemUsers">
                    <option value="">Choose User</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
