@model Scribe.Models.Model

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModelModalLabel">Create Model</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="BrandId" class="control-label"></label>
                        <select id="brand-search" asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId">
                            <option>---Choose Brand---</option>
                        </select>
                        <a asp-action="Create" asp-controller="Brands" style="text-decoration:none">Brand not available?</a>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select id="category-search" asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                            <option>---Choose Category---</option>
                        </select>
                        <a asp-action="Create" asp-controller="Categories" style="text-decoration:none">Category not available?</a>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="ImageUpload" class="form-control" />
                        <br />
                        <img style="width:20px;" src="" id="imgpreview" alt="" />
                        <span asp-validation-for="ImageUpload" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" /> |
                        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
    <script>
        $(document).ready(function () {
            $('#brand-search').select2();
            $('#category-search').select2();
        });
    </script>
    <script>
        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
    <script>
        // Cascading Dropdown
        $(function () {
            $("select#BrandList").change(function () {
                var cid = $(this).val();
                $("select#ModelList").empty();
                var url = '@Url.Content("~/")' + "Devices/LoadModel?cid=${cid}";
                var ddlsource = "#BrandList";
                $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                    var items = '';
                    $("select#ModelList").append($('<option></option>').val('').text('- Please select -'));
                    $.each(data, function (i, row) {
                        $("select#ModelList").append(`<option value="${row.value}">${row.text}</option>`);
                    });
                });
            });
        });
    </script>
}