@model IEnumerable<Scribe.Models.Category>

@{
    
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" onclick="loadCreatePartial('Categories')">
    Create New
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Icon
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if(item.Icon != null){
                        <img src="/media/icons/@item.Icon" width="20px">
                    }
            </td>
            <td>
                    <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('Categories',@item.Id)">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('Categories',@item.Id)">
                        Delete
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
