@model IEnumerable<Scribe.Models.Department>

@{
    
    ViewData["Title"] = "";
}




<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" onclick="loadCreatePartial('Departments')">
    Create New
</button>
<table class="table" id="departmentsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('Departments',@item.Id)">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('Departments',@item.Id)">
                        Delete
                    </button>
                </td>
        </tr>
}
    </tbody>
</table>
