@model IEnumerable<Scribe.Models.IndividualAssignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" onclick="loadCreatePartial('IndividualAssignments')">
    Create New
</button>
<table class="table" id="userTable">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ADUsers.Name)
                </td>
                <td>
                    <a asp-action="AllocateUser" asp-route-id="@item.Id">Allocation</a> |
                    <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('IndividualAssignments',@item.Id)">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('IndividualAssignments',@item.Id)">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
