@using Scribe.Models
@model Scribe.Models.AllocationHistory

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Serial Number</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="SerialNumberId" class="control-label"></label>
                        <select asp-for="SerialNumberId" class="form-control" asp-items="ViewBag.SerialNumberId"></select>
                        <span asp-validation-for="SerialNumberId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ADUsersId" class="control-label"></label>
                        <select asp-for="ADUsersId" class="form-control" asp-items="ViewBag.ADUsersId"></select>
                        <span asp-validation-for="ADUsersId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AllocationDate" class="control-label"></label>
                        <input asp-for="AllocationDate" class="form-control" />
                        <span asp-validation-for="AllocationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeallocationDate" class="control-label"></label>
                        <input asp-for="DeallocationDate" class="form-control" />
                        <span asp-validation-for="DeallocationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}