@using Scribe.Models
@model Scribe.Models.SerialNumber

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SerialNumber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" >
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="ModelId" class="control-label"></label>
                <select asp-for="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="ADUsersId" class="control-label"></label>
                <select id="aduser-search" asp-for="ADUsersId" class="form-control" asp-items="ViewBag.ADUsersId"></select>
                <span asp-validation-for="ADUsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConditionId" class="control-label"></label>
                <select asp-for="ConditionId" class="form-control" asp-items="ViewBag.ConditionId"></select>
                <span asp-validation-for="ConditionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creation" class="control-label"></label>
                <input asp-for="Creation" class="form-control" />
                <span asp-validation-for="Creation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Allocation" class="control-label"></label>
                <input asp-for="Allocation" class="form-control" />
                <span asp-validation-for="Allocation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AllocatedBy" class="control-label"></label>
                <select id="user-search" asp-for="AllocatedBy" class="form-control" asp-items="ViewBag.Users" id="">
                    <option value="No User">---Select User---</option>
                    <option value="No User">No User</option>
                </select>
                <span asp-validation-for="AllocatedBy" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> | 
                <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
            </div>

            <br />
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
