@model Scribe.Models.Brand

@{
	ViewData["Title"] = "";
}

<h1>Edit</h1>

<h4>Brand</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label for="imageFile">Upload Image (jpg, png, svg)</label>
				<input id="ImageUpload" type="file" name="imageFile" class="form-control" accept=".jpg,.jpeg,.png,.svg" />
				<img style="width:200px;" src="" id="imgpreview" alt="" />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-success" /> |
				<a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
			</div>
		</form>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#ImageUpload").change(function () {
			if (this.files && this.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#imgpreview').attr('src', e.target.result);
				}
				reader.readAsDataURL(this.files[0]);
			}
		});
	});
</script>
