@model IEnumerable<Scribe.Models.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>Brands</h1>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal" onclick="loadCreatePartial('Brands')">
    Create New
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <img src="/media/brands/@item.ImageName" width="100px height="100px" />
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">Edit</a> |
                    <button type="button" class="btn btn-sm btn-outline-warning" data-toggle="modal" data-target="#editModal" onclick="loadEditPartial('Brands',@item.Id)">
                        Edit
                    </button> |
                    <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="loadDeletePartial('Brands',@item.Id)">
                        Delete
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
